<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} Todo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css')}}" >
</head>
<body>
    <div>
        <header id="header" class= "head">
            <h1>ToDo List Manager</h1>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="/auth/register">Sign Up</a>
                </li>
                <li>
                    <a href="/auth/login">Sign In</a>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        <section>
            <p> {{val}} </p>
        </section>
    </div>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
    {% block body %}
    {% endblock %}
    
    
</body>
</html>